.sec3{
    width: 100%;
    height: 900px;
    background-color: rgb(15, 36, 70);
    color: white;
    text-align: center;
margin: 8% auto;
}
.text-area{
    padding: 10% 25%;
}
.heading{
    font-size: 2.5rem;
    font-weight: 700;
    animation-duration: 2s;
}
.para{
    animation-duration: 2s;
}
.left{
    border-radius: 30px;
    width:180px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-color: white;
    animation-duration: 2s;
    margin-right: 20px;
}
.left:hover{
    background-color: white;
    border: none;
    color: black;
}
.right{
    border-radius: 30px;
    width:180px;
    height: 50px;
    background-color: white;
    animation-duration: 2s;
}
.right:hover{
background-color: transparent;
color: white;
border-color: white;
}

.lg-left-pic{
    margin: -43% 40% 0% 5%;
    width: 730px;
    height: 800px;
    background-image: url(sec5-pic.jpg);
    background-size: cover;
    animation-duration: 2s;
}
.lg-rigth-text{
    border: 2px solid white;
    width: 480px;
    height: 500px;
    background-color: white;
    margin: -54% 51% -48% 54%;
    padding: 40px;
    animation-duration: 1.5s;
    position: relative;
}
.lg-rigth-text h1{
    font-weight: 700;
}
.lg-rigth-text a{
    color: black;
}
.lg-rigth-text button{
    border-radius: 30px;
    width:180px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(15, 36, 70);
    color: white;
}
.lg-rigth-text button:hover{
    background-color: rgb(254, 199, 60) ;
    color: black;
    border: none;
}